---
permalink: assets/js/bundle.js
---
{% set js %}
  {% include "../../../node_modules/jquery/dist/jquery.js" %}
  {% include "../../../node_modules/swiper/swiper-bundle.js" %}
  {% include "./_rangeslider.js" %}
  {% include "./_application.js" %}
{% endset %}
{{ js | jsmin }}
